<%- include ('../partials/header.ejs') %>

<!--Conteúdos da Navbar purple-->
<br>
<br>
<br>
<br>
<br>
<body>
    <div class="container">

        <div class="text-center">
          <span style="font-size: 150%;">&leftarrow;</span><a href="/" class="back"><button type="button" class="logout btn btn-lg btn-outline-primary btn-block">Voltar</button></a>
          <br>
          <h1 style="font-family: Arial;">Centro de ajuda do Message Virtual</h1>
          <h3>Como podemos ajudar-te?</h3>
        </div>
       <br>
        <div class="accordion" id="accordionExample">

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>COMO MEUS DADOS SÃO PROTEGIDOS?</strong>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Os dados pessoais no Messager Virtual têm uma proteção de descrição, seus  <br>
                    dados pessoais não são armazenados em um banco de dados, impossibilitando  <br>
                    a visibilidade dos mesmos para qualquer pessoa, até mesmo o Message virtual <br>
                    não consegue visualizar seus dados tão pouco suas conversas.
                  </p>

                  <p>
                    Seus dados pessoais são armazenados em uma Arrey (Banco de dados simulado), <br>
                    que filtra seus dados em tempo real e torna-o visível apenas para ti e <br>
                    as pessoas existentes na sala de conversa.
                  </p>

                  <p>
                    A Unipersoft desenvolveu esta metodologia para tornar sua experiência mais <br>
                    pessoal discreta e clandestina.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>COMO CRIAR SALA DE CONVERSA?</strong>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Para criares uma sala de conversa no Message Virtual você precisará  <br>
                    pertinentemente de dois dados, esses dados são: <b>Email</b> e seu <b>Nome</b>. <br>
                    O Email é considerado como o nome da sala, o Nome é o identificador de quem <br>
                    está conversando naquela sala.
                  </p>

                  <p>
                    Este Email pode ser qualquer nome que o utilizador queira, como por exemplo:
                  </p>

                  <p>
                    <span style="color: red;">
                      nosso@clube.com <br>
                      conversa@aberta.com <br>
                      cubicodos@tunezas.com
                    </span>
                  </p>

                  <p>
                    Esses são os exemplos dos nomes das salas, você pode colocar qualquer outro <br>
                    nome ao seu critério, desde que seja nesta ordem, o @ no meio dos dois nomes e o .com no final.
                  </p>

                  <p>
                    Após criares uma sala com um determinado nome de Email, memoriza <br>
                    devidamente cada letra escrita no nome desta sala, <br>
                    para voltares a escreveres da mesma maneira quando fores acessar novamente <br>
                    esta sala.
                  </p>

                  <p>
                    Se por acaso errares uma única letra no nome da sala, não conseguirás visualizar as <br>
                    conversas já existentes naquela sala, porque o sistema entenderá <br>
                    que querias criar outra sala e entrará em uma sala nova completamente vazia.
                  </p>

                  <p>
                    O nome da sala criada, você pode mandar para quantas pessoas desejares e estarão <br>
                    todos dentro de uma única sala conversando livremente.
                  </p>

                  <p>
                    O número de pessoas dentro da sala é ilimitado.
                  </p>

                  <p>
                    Se quizeres ter uma conversa particular com alguém, basta apenas criares a sala e <br>
                    mandares apenas o Email da sala para somente esta pessoa, assim vocês <br>
                    particularizam vossas conversas.
                  </p>

                  <p>
                    Quando criares uma sala coletiva e mandares o nome da sala para todos <br>
                    outros utilizadores, que é o Email da sala neste caso, <br>
                    todos esses outros utilizadores devem colocar corretamente o Email da sala, <br>
                    o Nome cada um pode colocar o dele próprio, como por exemplo:
                  </p>

                  <p>
                    <span style="color: red; font-family: Bold;">
                      Email: cubicodos@tunezas.com <br>
                      Nome: André
                    </span> 

                      <hr>
                      <span style="color: red; font-family: Bold;">
                        Email: cubicodos@tunezas.com <br>
                        Nome: Soraia Martins
                      </span>

                      <hr>
                      <span style="color: red; font-family: Bold;">
                        Email: cubicodos@tunezas.com <br>
                        Nome: Mário
                      </span>

                      <hr>
                      <span style="color: red; font-family: Bold;">
                        Email: cubicodos@tunezas.com <br>
                        Nome: Pedro Frederico
                      </span>
                  </p>

                  <p>
                    Todo resto de igual modo assim por diante.
                  </p>

                  <p>
                    <b>Obs:</b> Essas conversas são extremamente secretas <br>
                    que nem o Message virtual terá acesso a elas.
                  </p>

                  <p>
                    O Message virtual não tem nem nossão dos acessos de cada usuário ao Message virtual,<br>
                    o que significa que a plataforma é completamente segura livre de uso e secreta.
                  </p>

                </div>
              </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                    <strong>COMO CONVESRAR PARTICULARMENTE?</strong>
                  </button>
                </h2>
                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      Para teres uma convesa particular primeiramente você precisas criar a sala de  <br>
                      conversa com os dois dados exigidos que é o Nome da sala em espécie de Email <br>
                      e o seu Nome que o identifica, após criares a sala basta mandares o nome da <br>
                      Sala (o email neste caso) para a pessoa a que queres particularizar a conversa, <br>
                      esta pessoa vai inserir o Nome da sala (o email neste caso), e colocará o Nome <br>
                      dele(a) para se identificar, após isto podem conversar confortavelmente e <br>
                      seguramente, podem sair e voltarem a entrar com os mesmos dados quando desejarem. <br>
                    </p>

                    <p>
                      Já mais alguém terá acesso a esta sala, a menos que adivinhe o Nome da sala <br>
                      (o email neste caso) ou um de vocês dois informa o Nome da Sala para mais alguém.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>COMO CONVERSAR COLETIVAMENTE?</strong>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      Para teres uma convesa coletiva primeiramente você precisas criar a sala de <br>
                      conversa com os dois dados exigidos que é o Nome da sala em espécie de Email <br>
                      e o seu Nome que o identifica, após criares a sala basta mandares o nome da <br>
                      Sala (o email neste caso) para todas as pessoas a que queres adicionar na sala <br>
                      estas pessoas vão inserir o Nome da sala (o email neste caso), e colocarão o <br>
                      Nome deles(as) para se identificarem, após isto podem conversar <br>
                      confortavelmente e seguramente, podem sair e voltarem a entrar com os <br>
                      mesmos dados quando desejarem.
                    </p>

                    <p>
                      O número de usuário dentro de uma sala é ilimitado.
                    </p>
                  </div>
                </div>
              </div>


            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                  <strong>COMO ADICIONAR MAIS MEMBROS A SALA DE CONVERSA?</strong>
                </button>
              </h2>
              <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Para adicionares mais membros a sala de conversa basta apenas mandares o  <br>
                    Nome da sala (o email neste caso) para as pessoas que desejas adicionar, e <br>
                    eles apareceram quando quiserem.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseThree">
                  <strong>COMO ACESSAR E CONVERSAR ANONIMAMENTE EM UMA SALA SEM SEU NOME SER VISTO?</strong>
                </button>
              </h2>
              <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    No Message virtual existe uma forma de entrares anonimamente em uma sala <br>
                    de conversa sem que seu nome esteja visível.
                  </p>

                  <p>Para isto faz-se o seguinte:</p>

                  <p>
                    Coloque o Nome da Sala (o email neste caso) corretamente, clique no campo do <br>
                    Nome e  dê apenas um <b>“Espaço”</b> e clique em <b>“Entrar”</b>.
                  </p>

                  <p>Simples assim, agora podes enviar mensagem nesta sala sem seres identificado.</p>
                </div>
              </div>
            </div>

          </div>
          <br>

        <div class="d-grid gap-2 m-3">
            <button type="button" class="btn btn-lg btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border-color: white;">
                PERGUNTA PERSONALIZADA
              </button>
        </div>

          <!-- Modal Registo form-->
<div class="modal fade" style="font-family: Arial;" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="staticBackdropLabel" style="margin-left: 24%;">Faça uma pergunta</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Requisitos do Formulário -->
        <div class="col-md-12">
        <form action="/question" role="form" name="premio-list_form" id="premio-list_form" method="POST">
        <div class="form-group">
        <br>
        <label for="email">E-mail ou Telefone</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="E-mail ou Telefone" required>
            <p style="font-size: 13px;">Para receberes uma resposta por sms à sua pergunta.</p>
        <br>
        <label for="question">Faça uma pergunta</label>
        <textarea name="question" class="form-control" id="question" placeholder="Pergunta aqui..." required></textarea>
        <br>
        </div>
        <!-- Button Submeter -->
        <div class="d-grid gap-2 m-3">
         <button type="submit" class="btn btn-lg btn-outline-success btn-block">Enviar</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>


    </div>
    
</body>

<style>
  .back:hover{
    text-decoration: none;
  }

  strong{
    font-size: 22px;
  }
</style>
<%- include ('../partials/footer.ejs') %>