<%- include ('partials/header.ejs') %>
<title>Error</title>

<!--Conteúdos da Navbar purple-->
<br>
<br>
<br>
<br>
<br>
<body>
    <div class="jumbotron" style="background-color: #000000;">
        <h1 class="display-3" style="font-size: 500%; font-family: gotham;"><strong><mark class="row justify-content-center" style="color: red; background-color: aliceblue;">404</mark></strong></h1>
        <h3 class="row justify-content-center" style="color: aliceblue;">PÁGINA NÃO ENCONTRADA!</h3>
      
    </div>
</body>
<%- include ('partials/footer.ejs') %>