<%- include ('partials/header.ejs') %>

<body>

        <div class="container">
            <br>
            <br>

            <div class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill wr" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
            </div>

            <h4 class="row justify-content-center" style="color: #fff;">Mercado Express</h4>

            <div id="card" class="card">
                <div class="card-header cd">
                    <p class="text-center txt"> Em actualização...</p>
                </div>
                <div class="card-body black">

                  <p>
                    Caro usuário, desde já pedimos desculpas pela indisponibilidade do nosso <br>
                    sistema, agradecemos o seu interesse em fazer parte da nossa organização e  <br>
                    aderir aos nossos serviços <br>
                  </p>

                  <p>
                    O Mercado Express está temporariamente indisponível por razões técnicas, <br>
                    nossa organização está trabalhando na melhoria e inovação da plataforma.
                  </p>

                  <h1>RAZÕES:</h1>
                  <br>

                  <div class="accordion" id="accordionExample">

                    <div class="accordion-item ">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>O QUE ESTAMOS MELHORANDO NA PLATAFORMA?</strong>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>
                            Faremos alteração do nosso domínio de: <b>mercadoexpress.heroku.com</b> para <br>
                            <b>mercadoexpress.com</b>, para melhorar a segurança na nossa hospedagem.
                          </p>

                          <p>
                            Estamos desenvolvendo novo método de pagamento online automatizado com <br>
                            a websevice fornecida pelo BFA (Banco de Fomento Angola), para possibilitar e <br>
                            facilitar a assinatura dos planos.
                          </p>

                          <p>
                            Estamos melhorando o funcionamento da plataforma, aplicando tecnologias <br>
                            mais avançadas para melhorar a segurança e a performance da plataforma.
                          </p>

                          <p>
                            Estamos desenvolvendo novos métodos de comunicação com seus clientes para <br>
                            aumentar as oportunidades e a eficiência de vendas das lojas.
                          </p>

                          <p>
                            Estamos desenvolvendo formas de personalização das lojas para possibilitar os <br>
                            vendendores organizarem seu produtos da forma que desejarem.
                          </p>

                          <p>
                            Estamos criando métodos seguros para possibilitar os clientes fazerem compras <br>
                            nas lojas com segurança.
                          </p>

                          <p>
                            Entre muitas outras funções avançadas e benéficas para nossos assinantes e <br>
                            seus clientes.
                          </p>

                          <p>
                            O Mercado Express voltará dentro de poucos dias com todas essas funções <br>
                            aplicadas.
                          </p>

                        </div>
                      </div>
                    </div>
        

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefou4" aria-expanded="false" aria-controls="collapseThree">
                          <strong>PARA NOSSOS ASSINANTES</strong>
                        </button>
                      </h2>
                      <div id="collapsefou4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                        <p>O Mercado Express agradece por aderirem os nossos serviços.</p>

                        <p>
                          Para os que tinham plano ativo, o Mercado Express voltará com vossos planos <br>
                          abertos e terão mais 10 dias acrescentados como oferta.
                        </p>

                        <p>
                          Vossas lojas reabrirá com várias funcões melhoradas e algumas novas.
                        </p>

                        <p>
                          Terão maior segurança e controle porque o Mercado Express irá vincular vossas <br>
                          lojas com vossos números telefónicos para lhes notificar de qualquer evento <br>
                          dentro e fora das vossas lojas.
                        </p>

                        <p>
                          Também lhes apresentaremos novas estratégias de vendas para melhorar a <br>
                          vossa produtividade, tudo automatizado.
                        </p>
                          
                        </div>
                      </div>
                    </div>


                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                            <strong>PARA QUEM DESEJA SER ASSINANTE</strong>
                          </button>
                        </h2>
                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">

                            <p>
                              Temos a ausadia de dizer que não poderia escolher melhor Mercado que o <br>
                              Mercado Express.
                            </p>

                            <p>
                              Aqui você tem melhor alcance de clientes por ser uma plataforma patrocinada e <br>
                              promovida.
                            </p>

                            <p>
                              Você terá grandes chances de vendas e melhorar seus lucros dirários <br>
                              absurdamente.
                            </p>

                            <p>
                              Você tem os melhores planos, barato com serviços de tecnologia avançada.
                            </p>

                            <p>
                              Podes ver nossos planos clicando no botão a baixo “<i>Ver planos</i>”
                            </p>

                            <p>
                              Você tem controle de sua loja tanto online quanto offline, porque todos e qualquer <br>
                              evento dentro e fora de sua loja lhe são notificados.
                            </p>

                            <p>
                              Nossa plataforma voltará em funcionamento dentro de poucos dias.
                            </p>

                            <p>
                              Caso desejas ser um assinante do Mercado Express podes enviar seu nome e <br>
                              seu número de telemóvel nos seguintes terminais:
                            </p>

                            <p>
                              <b>936 85 25 35</b> <br>
                              <br>
                              <b>945 02 56 11</b> <br>
                              <br>
                              WhatsApp: <b>945 06 34 67</b> <br>
                              <br>
                              Email: <a href="mailto:unipersoftofficial@gmail.com">unipersoftofficial@gmail.com</a>
                            </p>

                            <p>
                              <b>O avisaremos assim que a plataforma voltar.</b>
                            </p>

                          </div>
                        </div>
                      </div>
        
                      

                  </div>

                <br>
                <br>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      Ver planos
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nossos planos</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            
                            <!--CARDS FICHAS-->
                                  <!--first colunm-->

                                  <!--1 colunm-->
                              <div class="row">
                                <div class="col">
                                  <div class="card" style="width: 18rem; font-family: Gotham;">
                                    <img class="card-img-top" src="/img/1.500.kz.png" alt="Card image cap">
                                    <div class="card-body">
                                      <h3 class="card-title" >Plano mensal</h3>
                                        <p class="card-text" id="txt">Renovação do plano por <br> 1.500.AKZ/mês</p>
                                        <div class="d-grid gap-2 m-3">
                                      <a href="#" class="btn" style="background-color: #b90404; color: #ffcc00; margin: auto;"><h3 style="font-size: 35px;" id="100" onmouseenter="entrarcem()" onmouseout="saircem()">1.500.KZ</h3><p id="fx">Assinar plano</p></a>
                                    </div>
                                    </div>
                                    </div>
                                </div>

                                <!--2 colunm-->
                                <div class="col">
                                  <div class="card" style="width: 18rem; font-family: Gotham;">
                                    <img class="card-img-top" src="/img/3.500.kz.png" alt="Card image cap">
                                    <div class="card-body">
                                      <h3 class="card-title">Plano trimestral</h3>
                                      <p class="card-text" id="txt">Renovação do plano por <br> 3.500.AKZ em 3 mesês</p>
                                      <div class="d-grid gap-2 m-3">
                                      <a href="#" class="btn" style="background-color: #b90404; color: #ffcc00; margin: auto;"><h3 style="font-size: 35px;" id="200" onmouseenter="entrardoz()" onmouseout="sairdoz()">3.500.KZ</h3><p id="fx">Assinar plano</p></a>
                                    </div>
                                    </div>
                                    </div>
                                </div>

                                </div>

                              <div class="row">
                                <!--3 colunm-->
                                <div class="col">
                                  <div class="card" style="width: 18rem; font-family: Gotham;">
                                    <img class="card-img-top" src="/img/7.000.kz.png" alt="Card image cap">
                                    <div class="card-body">
                                      <h3 class="card-title">Plano semestral</h3>
                                      <p class="card-text" id="txt">Renovação do plano por <br> 7.000.AKZ em 6 mesês</p>
                                      <div class="d-grid gap-2 m-3">
                                      <a href="#" class="btn" style="background-color: #b90404; color: #ffcc00; margin: auto;"><h3 style="font-size: 35px;" id="500" onmouseenter="entrarquin()" onmouseout="sairquin()">7.000.KZ</h3><p id="fx">Assinar plano</p></a>
                                    </div>
                                    </div>
                                    </div>
                                </div>

                                <!--4 colunm-->
                                <div class="col">
                                  <div class="card" style="width: 18rem; font-family: Gotham;">
                                    <img class="card-img-top" src="/img/15.000.kz.png" alt="Card image cap">
                                    <div class="card-body">
                                      <h3 class="card-title">Plano anual</h3>
                                      <p class="card-text" id="txt">Renovação do plano por <br> 15.000.AKZ em 12 mesês</p>
                                      <div class="d-grid gap-2 m-3">
                                      <a href="#" class="btn" style="background-color: #b90404; color: #ffcc00; margin: auto;"><h3 style="font-size: 35px;" id="1000" onmouseenter="entrarmil()" onmouseout="sairmil()">15.000.KZ</h3><p id="fx">Assinar plano</p></a>
                                    </div>
                                    </div>
                                    </div>
                                </div>

                              </div> <!--fim row 1-->
                                <!--Second column-->

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
                          </div>
                        </div>
                      </div>
                    </div>
            
            </div>
    </div>
</div>

    
</body>
<br>

<!--Footer Barra Final-->
<footer class="bd-footer py-4 py-md-5 mt-5" style="background-color: #2d2d2d;">
    

   <div class="text-center">
    <a href="http://localhost:8000/" target="_blank"><img style="width: 20%" class="img" src="/img/Unipersoft white.png" alt="Unipersoft.png" /></a>
    </div>
    <br>
   <!--Copyright-->
   <div class="copyright">
     <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <div class="row justify-content-center" style="color: #fff; font-size: 12px;">© Copyright 2023 - Mercado Express - Todos os direitos reservados</div>
         </div>
       </div>
     </div>
 
   </div>
    <!--/Copyright-->
  </footer>
  <!--/Footer Barra Final-->

<style>


    li{
        font-family: Arial;
        color: #19af30;
    }

    li a{
        text-decoration: none;
        color: #878787;
    }

    li a:hover{
        text-decoration: none;
        color: #43ffd3;
    }

    body{
        background-color: black;
        color: #ffffff;
    }
    #card{
        margin-top: 20%;
    }

    label{
        color: black;
    }

    .txt{
      font-family: Poppins SemiBold;
      color: rgb(0, 0, 0);
      font-size: 27px;
    }

    .cd{
      background-color: #e0ff44;
    }

    .ff{
      font-size: 15px;
    }

    .wr{
        color: red;
        width: 40%;
        height: 40%;
    }

    .fade{
      color: black;
    }

    .accordion{
      color: black;
    }

    .black{
      color: black;
    }

</style>

<%- include ('partials/footer.ejs') %>
