<%- include ('../../partials/header.ejs') %>

<!--Conteúdos da Navbar purple-->
<br>
<br>
<br>
<br>
<br>
<body>
    <div class="container">
        <div class="text-center">
            <span style="font-size: 150%;">&leftarrow;</span><a href="/" class="back"><button type="button" class="logout btn btn-lg btn-outline-primary btn-block">Voltar</button></a>
          </div>
          <br>
          
        <h1 class="text-center">POLÍTICA DE PRIVACIDADE</h1>
        <br>
        <h4><strong>Message Virtual</strong></h4>
            <h5><b>Que informações recolhemos no Message virtual?</b></h5> <br>
            <p>
                No Message virtual utilizamos um método de consistência de dados  <br>
                bastante discreto, para tornar a experiência dos usuários completamente livre e <br>
                secreta.
            </p> 
            
            <p>
                O Message virtual não recolhe dados nenhum para coisa alguma, os dados <br>
                que o usuário informa para criar a sala de conversa, não são armazenados em um <br>
                banco de dados, elas são armazenadas em uma arrey que filtra em tempo real <br>
                essas informações.
            </p>
            
            <p>
                O Message virtual usou essa metodologia para garantir a liberdade e <br>
                discrição dos usuários, este método de armazenamento de dados é aplicada tanto <br>
                nos dados para a criação de salas, quanto nas conversas dentro das salas.
            </p>

            <br>

            <p><a href="#">Ler mais</a></p>
    </div>
    
</body>

<style>
 p a{
    text-decoration: none;
    color: #5f5f5f;
  }

  p a:hover{
    text-decoration: none;
    color: rgb(0, 60, 255);
  }
</style>
<%- include ('../../partials/footer.ejs') %>